.header {
  /* Header */

  position: absolute;
  width: 100%;
  height: 225px;
  left: 0px;
  top: 0px;

  background: #980000;
}

.title {
  /* Title */

  position: absolute;
  width: 403px;
  height: 21px;
  left: 142px;
  top: 37px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}

.subtitle {
  /* subtitle */

  position: absolute;
  width: 403px;
  height: 97px;
  left: 128px;
  top: 95px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

.inputAno {
  /* Input Ano */

  outline: none;
  position: absolute;
  width: 224px;
  height: 50px;
  left: 397px;
  top: 199px;

  background: #ffffff;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 90px;
}

.inputCategoria {
  /* Input Categoria */
  outline: none;
  position: absolute;
  width: 241px;
  height: 50px;
  left: 602px;
  top: 199px;

  background: #ffffff;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
}

.inputProjecao {
  /* Input Projecao */
  outline: none;

  position: absolute;
  width: 219px;
  height: 50px;
  left: 823px;
  top: 199px;

  background: #ffffff;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 0px 99px 99px 0px;
}

.mapaTitle {
  /* Mapa de felicidade */

  width: 308px;
  height: 42px;
  left: 259px;
  top: 313px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;

  color: #980000;
}

.map {
  /* mapa */

  width: 959px;
  height: 602px;
  left: 241px;
  top: 415px;
}

.paisSelecionado {
  /* País Selecionado */

  width: 269px;
  height: 24px;
  left: 353px;
  top: 1033px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.pais {
  /* pais */

  width: 66px;
  height: 24px;
  left: 540px;
  top: 1033px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.titleSpider {
  /* Comparativo dos atributos */

  width: 331px;
  height: 24px;
  left: 105px;
  top: 1188px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.spider {
  /* Grafico Spider */

  width: 438px;
  height: 375px;
  left: 72px;
  top: 1291px;
}

.titleLine {
  /* Média de Felicidade Mundial */

  width: 331px;
  height: 24px;
  left: 647px;
  top: 1190px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.line {
  /* Linechart */

  width: 865px;
  height: 446px;
  left: 536px;
  top: 1256px;
}

.titleLolipop {
  /* Classificação por Região */

  width: 269px;
  height: 28px;
  left: 86px;
  top: 1749px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.lolipop {
  /* Lolipop */

  width: 406px;
  height: 491px;
  left: 72px;
  top: 1823px;
}

.titleLineClassification {
  /* Classificação dos 7 primeiros paises/ano */

  width: 446px;
  height: 28px;
  left: 520px;
  top: 1749px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.lineClassification {
  /* LineClassification */

  width: 448px;
  height: 401px;
  left: 520px;
  top: 1868px;
}

.titleBarClassification {
  /* Classificação dos 7 primeiros paises */

  width: 398px;
  height: 28px;
  left: 1035px;
  top: 1749px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.barClassification {
  /* BarClassification */

  width: 320px;
  height: 374px;
  left: 1035px;
  top: 1882px;
}

.titleBarChart {
  /* Variação dos atributos durante os anos: Média Global/País */

  width: 635px;
  height: 28px;
  left: 200px;
  top: 2399px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #980000;
}

.freedom {
  /* freedom */

  width: 378px;
  height: 412px;
  left: 86px;
}

.gdp {
  /* gdp */

  width: 378px;
  height: 412px;
  left: 86px;
}

.generosidade {
  /* generosidade */
  width: 378px;
  height: 412px;
  left: 86px;
}

.confianca {
  /* confiança */

  width: 378px;
  height: 412px;
  left: 86px;
}

.expectativa {
  /* expectativa */

  width: 378px;
  height: 412px;
  left: 86px;
}

.suporte {
  /* suporte */

  width: 378px;
  height: 412px;
  left: 86px;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #eee;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 99;
  padding: 10px;
  border: solid 1px darkgray;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.hidden {
  display: none;
}

.selected_country {
  stroke-width: 3;
  stroke: #ff0000;
}

.stack-list {
  fill: none;
}

.lineLabel {
  fill: black;
}

#bar_chart_2 svg g g.axis.y {
  display: none;
}
#bar_chart_3 svg g g.axis.y {
  display: none;
}
#bar_chart_5 svg g g.axis.y {
  display: none;
}
#bar_chart_6 svg g g.axis.y {
  display: none;
}

.bar_charts .grid-line line {
  stroke: gray;
}

.grid-container {
  display: grid-inline;
  grid-template-columns: auto auto auto;
}

text {
  fill: black;
}

.clickable {
  cursor: pointer;
}

#map svg {
  background-color: #c2c2c2;
}

.spider_axis {
  font: 15px sans-serif;
}
.spider_axis path,
.spider_axis line {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.spider_toolTip {
  pointer-events: none;
  position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 9px 14px 6px 14px;
  border-radius: 2px;
  text-align: center;
  line-height: 1.3;
  color: #5b6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
}
.spider_toolTip:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -12px;
}
.spider_toolTip span {
  font-weight: 500;
  color: #081f2c;
}

.rowHeader {
  display: flex;
  padding-top: 10%;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 3%;
}

.grid3 {
  display: grid;
  grid-template-columns: auto auto auto;

  position: absolute;
  top: 2500px;

  left: calc((100% - 1200px) / 2);
}

.lolipop circle{
  cursor: pointer;
}

.lineClassification path{
  cursor: pointer;
}

circle {
  cursor: pointer;
}

.dot{
  cursor: pointer;
}
